<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zstu.bysj.cmgs.dao.AutoSeriesMapper">

	<resultMap id="BaseResultMap" type="com.zstu.bysj.cmgs.model.entity.AutoSeries">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="brand_id" property="brandId" jdbcType="INTEGER"/>
		<result column="auto_home_id" property="autoHomeId" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="guide_price_low" property="guidePriceLow" jdbcType="DECIMAL"/>
		<result column="guide_price_high" property="guidePriceHigh" jdbcType="DECIMAL"/>
		<result column="classify" property="classify" jdbcType="INTEGER"/>
		<result column="wash_car_type" property="washCarType" jdbcType="INTEGER"/>
		<result column="wash_type" property="washType" jdbcType="INTEGER"/>
		<result column="is_valid" property="isValid" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findList" resultMap="BaseResultMap">
		SELECT * FROM `car_series`
		where 
			brand_id = #{brandId,jdbcType=INTEGER}
			<if test="name != null and name != ''">
				and name LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
			</if>
		ORDER BY id ASC
		<if test="start != null and pageSize != null">
			<include refid="page"></include>
		</if>
	</select>
	
	<select id="findCount" resultType="int">
		SELECT count(*) FROM `car_series`
		where 
			brand_id = #{brandId,jdbcType=INTEGER}
			<if test="name != null and name != ''">
				and name LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
			</if>
	</select>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="int">
		SELECT *
		FROM car_series
		WHERE id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findByAutoHomeId" resultMap="BaseResultMap" parameterType="int">
		SELECT *
		FROM car_series
		WHERE auto_home_id = #{autoHomeId,jdbcType=INTEGER}
	</select>
	
	<insert id="insert" parameterType="com.zstu.bysj.cmgs.model.entity.AutoSeries">
		INSERT 
		INTO 
		car_series
		(
			auto_home_id,
			brand_id,
			`name`,
			mark,
			guide_price_low,
			guide_price_high,
			classify,
			wash_car_type,
			create_time,
			modify_time
		)
		values 
		(
			#{autoHomeId,jdbcType=INTEGER},
			#{brandId,jdbcType=INTEGER},
			#{name,jdbcType=VARCHAR},
			#{mark,jdbcType=VARCHAR},
			#{guidePriceLow,jdbcType=DECIMAL},
			#{guidePriceHigh,jdbcType=DECIMAL},
			#{classify,jdbcType=VARCHAR}, 
			#{washCarType,jdbcType=TINYINT},
			now(),
			now()
		)
	</insert>
	
	<update id="update" parameterType="com.zstu.bysj.cmgs.model.entity.AutoSeries">
		UPDATE car_series
		<set>
			<if test="autoHomeId != null">
				auto_home_id = #{autoHomeId,jdbcType=INTEGER},
			</if>
			<if test="brandId != null and brandId > 0">
				brand_id = #{brandId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mark != null">
				mark = #{mark,jdbcType=VARCHAR},
			</if>
			<if test="guidePriceLow != null">
				guide_price_low = #{guidePriceLow,jdbcType=DECIMAL},
			</if>
			<if test="guidePriceHigh != null">
				guide_price_high = #{guidePriceHigh,jdbcType=DECIMAL},
			</if>
			<if test="classify != null">
				classify = #{classify,jdbcType=VARCHAR},
			</if>
			<if test="washCarType != null and washCarType > 0">
				wash_car_type = #{washCarType,jdbcType=TINYINT},
			</if>
			<if test="washType != null and washType > 0">
				wash_type = #{washType,jdbcType=TINYINT},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=INTEGER},
			</if>
			<if test="true">
				modify_time = NOW()
			</if>
		</set>
		WHERE id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByAutoHomeId" parameterType="com.zstu.bysj.cmgs.model.entity.AutoSeries">
		UPDATE car_series
		<set>
			<if test="brandId != null and brandId > 0">
				brand_id = #{brandId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mark != null">
				mark = #{mark,jdbcType=VARCHAR},
			</if>
			<if test="guidePriceLow != null">
				guide_price_low = #{guidePriceLow,jdbcType=DECIMAL},
			</if>
			<if test="guidePriceHigh != null">
				guide_price_high = #{guidePriceHigh,jdbcType=DECIMAL},
			</if>
			<if test="classify != null">
				classify = #{classify,jdbcType=VARCHAR},
			</if>
			<if test="washCarType != null and washCarType > 0">
				wash_car_type = #{washCarType,jdbcType=TINYINT},
			</if>
			<if test="washType != null and washType > 0">
				wash_type = #{washType,jdbcType=TINYINT},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=INTEGER},
			</if>
			<if test="true">
				modify_time = NOW()
			</if>
		</set>
		WHERE auto_home_id = #{autoHomeId,jdbcType=INTEGER}
	</update>

	<sql id="page">
		limit #{start},#{pageSize}
	</sql>

</mapper>